body {
  padding: 0;
  margin: 0;
  background-color: #17141d;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
}

.card-list {
  display: flex;
  padding: 3rem;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 400px;
  width: 350px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background-color: #17141d;
  box-shadow: -1rem 0 3rem #000;
  transition: 200ms;
}

.card:hover {
  transform: translateY(-1rem);
}

.card-header {
  font-size: 22px;
}

/* General sibling combinator. All children after the element hovered (not the element itself or before) */
.card:hover~.card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
  cursor: pointer;
}

.author-avatar img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 16px 10px;
}


.half-circle {
  position: absolute;
  bottom: -89%;
  left: -7%;
  stroke: #ff8a00;
  stroke-width: 3px;
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 32.5% 50%;
  transition: stroke-dasharray 0.3s ease, filter 0.8s ease;
}

.half-circle:hover {
  stroke-dasharray: 100%;
  filter: hue-rotate(90deg);
}

.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
}
