body {
  background-color: rgb(19, 19, 19);
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  transform: translateY(-3px) scale(1.05);
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

@media screen and (min-width: 600px) {

  .card-tall {
      grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }

}
